@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<style>
    body{
        color:black;
    }
</style>
<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel panel-body">
        <h2 class="text text-center">Change Password Panel</h2>
        <hr style="height:2px;background:navy" />
        <form action="/Admin/ChangePassword" method="post">
            Enter Old Password
            <input type="password" class="form-control" name="txtoldpass" />
            Enter New Password
            <input type="password" class="form-control" name="txtnewpass" />
            Enter Confirm Password
            <input type="password" class="form-control" name="txtcpass" />
            <br />
            <input type="submit" class="btn btn-success" value="Change Password" />
        </form>
    </div>
</div>
