@{
    ViewBag.Title = "ResponseComplain";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<style>
    .btn-info{
        color:white;
        background-color:orange;
    }
</style>
<h2 class="text text-center" style="color:orange;">ResponseComplain</h2>
<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel panel-body">
        <form action="/Admin/ResponseComplain" method="post">
            Response ID
            <input type="text" class="form-control" name="txtid" value="@ViewBag.id" readonly />
            Enter your Response
            <textarea class="form-control" name="txtres" style="height:170px"></textarea>
            <br />
            <input type="submit" class="btn-info form-control" value="Response Now" />
        </form>
    </div>
</div>