@{
    ViewBag.Title = "Complain";
    Layout = "~/Views/Shared/UserMaster.cshtml";
}

<h2 class="text text-center">Complain Here</h2>
<hr />
<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel panel-body">
        <form action="/User/Complain" method="post">

            Enter Complain
            <textarea class="form-control" name="txtmsg" style="height:160px"></textarea>
            <br />
            <input type="submit" class="form-control btn-success" value="Complain Now!" />
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
