@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}



<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 1px;
    }



    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
        
    }

    .about-section {
        padding: 50px;
        background-image: url('/Content/Images/wallpaperflare.com_wallpaper%20(17).jpg');
        opacity: 0.5;
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
            text-align: center;
            color: white;
        }

    .title {
        color: aqua;
    }
</style>

<div class="about-section">
    <h1>About Us</h1>
    <p>Hello, This website is designed by group "Blanko". Our Group have five Members(Dev Gupta, Priyanshu Ojha, Om Mishra, Prakhar Srivastava, manoj Yadav)</p>
    <p>We are The students of Government Polytechnic, Pratapgarh, pursuing Diploma There. We Came to Arcane Programming Infotech to learn ASP.Net with MVC Technology. Under the Mentorship of Akash Sir(Founder of the Company) we are able to Design this website. </p>
</div>

<h2 style="text-align:center;">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/IMG_20220105_223212.jpg" alt="Dev" style="width:100%">
            <div class="container">
                <h2>Dev Gupta</h2>
                <p class="title">Front-End Developer</p>
                <p>
                    All The Aesthetics were Designed by Dev Gupta, He is the<br /> Master Of designation.
                    A great Front-end Developer Who got<br /> some skills with CSS. He is Also a Back-end Developer.
                </p>
                <p>dev.guptanfs1302@gmail.com</p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Content/Images/Priyanshu.jpeg" alt="Priyanshu" style="width:100%">
            <div class="container">
                <h2>Priyanshu Ojha</h2>
                <p class="title">Back-end Developer</p>
                <p>
                    He is the Great back-end Developer. He handles all the<br /> Database Management related to this Website.
                    His Efforts is<br /> worth Appreciated.
                </p>
                <p>ojhapriyanshu86@gmail.com</p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Content/Images/Om.jpeg" alt="Om" style="width:100%">
            <div class="container">
                <h2>Om Mishra</h2>
                <p class="title">Founder</p>
                <p>He is the One who is most passionate person with the Fitness<br /> one who want his fitness website to be build.He has a Vision,<br />So He Team up And Created A Group called "Blanko".</p>
                <p>studentoomm@gmail.com</p>

            </div>
        </div>
    </div>
</div>
