@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<style>
    .fa-star {
        color: grey;
        font-size: 35px;
        cursor: pointer;
    }

    .fa-solid {
        margin-right: 10px;
    }

    .glyphicon:hover {
        color: orange;
    }

    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        background: #1f2023;
        color: #fff;
        display: grid;
        height: 90vh;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .btn {
        background-color: orange;
        color: white;
    }
</style>
<script>
    $(document).ready(function () {
        var total = "";
        $("#sp1,#sp2,#sp3,#sp4,#sp5").hide();
        $("#s1").click(function () {
            total = $("#sp1").text();
            $("#s1").css("color", "Goldenrod");
            $("textarea").val("Rate is:" + total);
            $("#s2,#s3,#s4,#s5").css("color", "red")
        })
        $("#s2").click(function () {
            total = $("#sp2").text();
            $("#s1,#s2").css("color", "Goldenrod");
            $("textarea").val("Rate is:" + total);
            $("#s3,#s4,#s5").css("color", "red")
        })
        $("#s3").click(function () {
            total = $("#sp3").text();
            $("#s1,#s2,#s3").css("color", "Goldenrod");
            $("textarea").val("Rate is:" + total);
            $("#s4,#s5").css("color", "red")
        })
        $("#s4").click(function () {
            total = $("#sp4").text();
            $("#s1,#s2,#s3,#s4").css("color", "Goldenrod");
            $("textarea").val("Rate is:" + total);
            $("#s5").css("color", "red")
        })
        $("#s5").click(function () {
            total = $("#sp5").text();
            $("#s1,#s2,#s3,#s4,#s5").css("color", "Goldenrod");
            $("textarea").val("Rate is:" + total);
        })
    })
</script>



<h1 class="text-center text-capitalize">Give your Feedback, Please!</h1>
<hr>
<div class="col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 panel panel-body" style="color:black">
        <form action="/User/Feedback" method="post">
            Your Name
            <input type="text" class="form-control" name="fname" /><br />
            Rate Here <br>
            <input type="hidden" name="txtrate" />
            <span class="fa fa-star" id="s1"></span>
            <span class="fa fa-star" id="s2"></span>
            <span class="fa fa-star" id="s3"></span>
            <span class="fa fa-star" id="s4"></span>
            <span class="fa fa-star" id="s5"></span>

            <span class="fa fa-star" id="sp1">1</span>
            <span class="fa fa-star" id="sp2">2</span>
            <span class="fa fa-star" id="sp3">3</span>
            <span class="fa fa-star" id="sp4">4</span>
            <span class="fa fa-star" id="sp5">5</span>
            <br>
            Write Review
            <textarea style="height: 160px" class="form-control" name="txtmsg"></textarea> <br>
            <input type="button" value="Submit Feedback">
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
