@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}
<html>

<head>
    <title>Responsive Image Grid</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 25px;
        }

        .header {
            text-align: center;
            padding: 5px;
        }

            .header h1 {
                font-family: 'Sacramento';
                font-size: 50px;
            }

        .row {
            display: flex;
            flex-wrap: wrap;
           
        }

        .column {
            flex: 25%;
            max-width: 25%;
        }

        .img-hover-zoom {
            height: auto;
            overflow: hidden;
            border: 5px solid #fff;
        }

            .img-hover-zoom img {
                vertical-align: middle;
                margin: 0;
                padding: 0;
                border: 0;
                transition: transform .5s ease;
            }

            .img-hover-zoom:hover img {
                transform: scale(1.5);
            }
    </style>
</head>
<!-- Coding With Nick -->

<body>
    <!-- Header -->
    <div class="header">
        <h1 style="color:orange;font-family:Arial;font-size:50px">Member Events</h1>
        <p>Make New Friends and get Competitive with fun Member Events</p>
    </div>

    <!-- Photo Grid -->
    <div class="row">

        <div class="column">
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(1).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <<img src="~/Content/Images/wallpaperflare.com_wallpaper%20(2).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(3).jpg" style="width:100%" alt="">
            </div>
        </div>

        <div class="column">
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(4).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(5).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(6).jpg" style="width:100%" alt="">
            </div>
        </div>

        <div class="column">
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(7).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(8).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(13).jpg" style="width:100%" alt="">
            </div>
        </div>

        <div class="column">
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(10).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(11).jpg" style="width:100%" alt="">
            </div>
            <div class="img-hover-zoom">
                <img src="~/Content/Images/wallpaperflare.com_wallpaper%20(12).jpg" style="width:100%" alt="">
            </div>
        </div>

    </div>

</body>
</html>