@{
    ViewBag.Title = "GetFitClasses";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}
<style>
.container{
    margin-left:-15px;
}
    .container .click {
        position: absolute;
        top: 130%;
        left:180px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        
    }
/* Make the image responsive */


/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 130%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: orange;
}
    </style > 

<div class="container" > 
    <img src="~/Content/Images/My%20project-1.jpg" alt="Snow" />
    <span class="click">For Our Online Classes Click Here</span>
     <button class="btn"><a href="https://youtube.com/playlist?list=PLiTJ1weB-xT0qhhEh9HK0KonZLSFRRtmm">Click Here</a></button> 
</div >