@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}
<html>
<head>
    <style>
        img {
            height: 100%;
            width: 100%;
        }

        body {
            margin: 10px;
            padding: 10px;
            background-image: url('/Content/Images/wallpaperflare.com_wallpaper%20(8).jpg');
        }
        h1 {
            font-family:'Arial Rounded MT';
            margin-top:50px;
        }
        p {
            color:lavenderblush;
            text-align: left;
            font-size: 15px;
            font-family: 'Calisto MT';
            padding: 1px;
            margin:5px;
        }

        #dv {
            background-color: rgba(10, 10, 0, 0.397);
        }
       .fa{
            color: orange;
        }
        
    </style>
</head>
<body>
    <div id="dv">
        <h1 style="color:darkorange;font-size:42px;">
            Crush Your Health and<br />
            Fitness Goals in NO Time
        </h1>
 
        <br />

        <p>
            It doesn’t matter if your goal is to get stronger, burn fat, or to just stay fit our 
            <br />
            world class coaches will guide you every step of the way.
        </p>
        <h2 style="color:orange;">We offer something for everybody
      </h2>
        <p>
            <ul>
                <li><i class="fa fa-check"></i> Get-Fit Group Classes</li>
                <li><i class="fa fa-check"></i> Personal Training</li>
                <li><i class="fa fa-check"></i> Member Only Events</li>
            </ul>
        </p>
    </div>
</body>
</html>