@{
    ViewBag.Title = "PrivacyPoilcy";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}
<style>
    body{
        padding:20px;
    }
    .num{
        list-style:decimal;
    }
    .dot{
        list-style:disc;
    }
</style>

<h1 style="text-align:center;font-size:50px">PrivacyPoilcy</h1>
<hr style="color:orange"/>
<h2>1. WHAT THE PRIVACY AND COOKIE POLICY IS FOR</h2>

<p>The Privacy and Cookie Policy is a detailed information to make users (the "Users") who visit this website (the "Site") aware of the processing of their personal data (the "Personal Data"), in particular reference to the types of personal data collected, to the subject in charge of the processing, to the purposes for which the personal data are collected and to the main protections set up in defense of the users' rights.</p>

<p>Furthermore, here are indicated the types of cookies (the "Cookies") used by the Site or by third parties, the purposes of use of cookies and the modalities for deactivating them by Users who do not consent to their use.</p>

<p>Users must carefully read the Privacy and Cookie Policy information and, if they substantially disagree with what is indicated in the same, they are invited to promptly terminate access to the Site.</p>

<p>The continuation of navigation implies consent to the indications and provisions of this Privacy and Cookie Policy.</p>

<p>As explained in more detail below, the use, disclosure and dissemination of Personal Data by the Site or third parties based on the provisions of the law are unaffected.</p>

<h2>2. PERSONAL DATA COLLECTED AND PROCESSED BY THE SITE. PURPOSE.</h2>

<p>Browsing the Site, the purchase of products or the use of services on the Site imply the necessary collection and processing of Personal Data belonging to Users by the Site.</p>

<p>In particular, when the Users visit the Website, the latter collects multiple information relating to the interaction with the User's device: for example, the IP address used for the connection, various information relating to the browser, to the system operational and to the type of device used by the User, the indication of the pages visited on the Site, the searches carried out on the Site and similar information. As can be guessed, it is Data strictly necessary for navigation, or to make it more functional, especially in an increasingly responsive design era.</p>

<p>In addition, the communication of Personal Data by the User is expressly requested at the moment in which it intends to register on the Site. From time to time the requests for Personal Data are indicated, the communication of which is mandatory or optional.</p>

<p>The User is also expressly asked to give or deny his consent to the use of the Data for communications of various nature, by the Site or third parties, which are outside the procedure of registration on the Site or use of services: it is the case, for example, of signing up for newsletters, taking part in events or receiving commercial offers.</p>

<p>It is possible that the Site carries out checks, directly or indirectly, for the purpose of preventing fraudulent activities.</p>

<p>The Site uses geo-location systems that allow Users to use the "store location" function, with the identification, therefore, of the geographical coordinates of the location of the device adopted by the User. It is possible to activate or deactivate this feature by changing the settings of the User device.</p>

<p>The refusal to give consent to the processing of personal data for purposes that are not necessary for the functioning of the site, the completion of the purchase procedures or the use of the services provided by the same will not generate any significant consequence.</p>

<p>Personal data are stored and processed in a manner and for a reasonable duration in relation to the purposes for which they are collected and subsequently processed.</p>

<h2>3. WHO IS THE OWNER OF PERSONAL DATA PROCESSING</h2>

<p>The data controller of the Personal Data (the "Data Controller") collected and processed by the Site is Uniderm Farmaceutici Srl, with registered office in Viale Enrico Ortolani, 211 - 00125 Rome, VAT number no. 0109471000, email address for any communication regarding the Privacy and Cookie Policy: privacy@uniderm.it</p>

<p>The processing of personal data takes place within the corporate structure of the owner. Consequently, the Personal Data collected for the purposes indicated in the Privacy and Cookie Policy are processed by the staff in charge of processing in the exercise of their duties under the direct authority of the Owner.</p>

<h2>4. TO WHICH ADDITIONAL SUBJECTS ARE THE PERSONAL DATA COMMUNICATED</h2>

<p>The Data Controller communicates part of the Users' Personal Data to parties involved in the execution of purchase orders, both in the sales and post-sales phases, such as - by way of example - customer service management companies and e-mail service providers.</p>

<p>It is also possible for the information to be communicated to companies associated or controlled by the Data Controller or to third parties in the event of extraordinary transactions in compliance with applicable legislation.</p>

<p>The communication or dissemination of Personal Data is reserved, if required, in accordance with the law, by police forces, by the judicial authority, by information and security bodies or by other public subjects for defense or security purposes of the State or prevention, detection or repression of administrative or criminal offenses, and in any case when the communication or dissemination of personal data is prescribed by law.</p>

<h2>5. USERS' RIGHTS IN RELATION TO PERSONAL DATA</h2>

<p>The interested party can assert his / her rights as expressed in the articles 7, 8, 9 and 10 of Legislative Decree 30 June 2003, n. 196 and the articles 15 up to 22 of the Regulation (EU) 2016/679, by contacting the data controller or the persons in charge of the specific processing directly at the email address: privacy@uniderm.it</p>

<p>In particular, the interested party can according to the art. 7 obtain confirmation of the existence or not of personal data concerning him, even if not yet recorded, and their communication in intelligible form. The interested party has the right to obtain the indication:</p>
<ul class="num">
    <li>the origin of personal data;</li>
    <li>of the purposes and methods of processing;</li>
    <li>of the logic applied in case of processing carried out with the aid of electronic instruments;</li>
    <li>of the identification data concerning the data controller, data processors and the designated representative pursuant to article 5, paragraph 2;</li>
    <li>the subjects or categories of subjects to whom the personal data may be communicated or who can learn about them as appointed representative in the State, managers or appointees.</li>
</ul>
<p>The interested party has the right to obtain:</p>
<ul class="num">
    <li>updating, rectification or, when interested, integration of data;
</li>
    <li>the deletion, transformation into anonymous form or blocking of data processed in violation of the law, including those for which conservation is not necessary in relation to the purposes for which the data were collected or subsequently processed;
</li>
    <li>the attestation that the operations referred to in letters a) and b) have been brought to the attention, also with regard to their content, of those to whom the data have been communicated or disseminated, except in the case where such fulfillment proves impossible or involves a manifestly disproportionate use of resources with respect to the protected right.
</li>
</ul>



<p>The interested party has the right to object, in whole or in part:</p>
<ul class="num">
    <li>for legitimate reasons to the processing of personal data concerning him, even if pertinent to the purpose of the collection;</li>
    <li>to the processing of personal data concerning him for the purpose of sending advertising materials or direct sales or for carrying out market research or commercial communication.
</li>
</ul>



<p>Where applicable, the interested party also has the rights referred to in Articles 16-21 GDPR (Right of rectification, right to be forgotten, right to limitation of treatment, right to portability of data, right to object), as well as the right to complain to the Authorityante Guarantor.</p>

<p>This Privacy and Cookie Policy is subject to constant changes and updates. The version published on the Website from time to time is the only one that is considered valid and effective at this time. We recommend that you visit the Privacy and Cookie Policy periodically in order to verify each update.</p>

<h2>6. SECURITY MEASURES</h2>

<p>The Site adopts the minimum security measures required by the applicable legislation to guarantee the protection of Users' Personal Data. In particular, by way of example, measures for computer authentication are adopted, where necessary, procedures for managing authentication credentials, authorization systems, procedures for keeping security copies, restoring data and system availability . Furthermore, the personal and identification data are used only where necessary with respect to the purposes for which they were collected and subsequently processed.</p>

<h2>7. WHAT ARE COOKIES</h2>

<p>Cookies are small text strings (the "Cookies") that the Site sends to the User's device, where they are stored, for different purposes.</p>

<p>Some types of Cookies are functional only to allow browsing on the Site or to take advantage of its basic functions, as in the case of browsing or session cookies, or functional cookies, which allow the user to browse in function of a set of selected criteria, such as preferred language or products that have been selected for purchase. They are defined as "technical" cookies.</p>

<p>Disabling technical cookies could limit the possibility of using the site and using the features and services on the same site.</p>

<p>Then there are the so-called "profiling" cookies, adopted for profiling purposes by processing the Users' personal data. The use of these cookies requires the prior consent of the user. Below are the profiling cookies adopted by the site.</p>

<p>The Site uses Cookies that do not allow any type of control on the User's device, do not install programs on the User's device and cannot damage the device of the latter in any way.</p>

<p>The Site has no access or control over cookies and other tracking technologies used by third party sites accessible from the Site and cannot, for obvious reasons, guarantee third-party compliance with the privacy and cookie regulations.</p>

<h2>8. WHICH COOKIES ARE USED BY THE SITE</h2>

<p>Below is the detailed list of Cookies included in the Site, which can be individually disabled:</p>
<ul class="dot">
    <li><a href="https://analytics.google.com/analytics/web/provision/#/provision">Google Analytics</a></li>

    <li><a href="https://mailchimp.com/grow-with-mailchimp/?gclid=CjwKCAjw9suYBhBIEiwA7iMhNPxIjzaLNJPIW3JPStwvE5TeYCNbBxz3EfyorWFml2IOoMaKokeCERoCHCYQAvD_BwE&gclsrc=aw.ds">Mailchimp</a></li>

    <li><a href="https://www.google.com/maps">Google Maps</a></li>

    <li><a href="https://www.youtube.com/">Youtube</a></li>

    <li><a href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C550525804944%7Cb%7Cfacebook%20%27%7C&placement=&creative=550525804944&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696220912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-327195741349%26loc_physical_ms%3D9301207%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAjw9suYBhBIEiwA7iMhNCuyMpRhsbJxK3u0MZQIIlLqYAUvnPzoqP7ExJWJxAboP_ICzIWrzRoCQS4QAvD_BwE">Facebook</a></li>

    <li><a href="https://www.instagram.com/">Instagram</a></li>

    <li><a href="https://twitter.com/i/flow/login">Twitter</a></li>

    <li><a href="https://wordpress.com/?aff=27964">WordPress</a></li>

    <li><a href="https://fonts.google.com/featured">Google Fonts</a></li>
</ul>

<h2>9. HOW TO DISABLE COOKIES</h2>

<p>As a rule, the main browsers allow you to control and disable cookies through the settings area. Below, the instructions to disable cookies in the settings of some of the main browsers:</p>
<ul>
    <li>Safari</li>
    <li>Chrome</li>
    <li>Firefox</li>
    <li>Edge</li>
</ul>
<p>Please note that disabling technical cookies may preclude or worsen the use of the site. For more information, you can visit:  http://www.allaboutcookies.org  or  http://www.youronlinechoices.com</p>